<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="basicHttpBinaryBinding">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DefaultServiceBehavior" name="Aufgabe2._3_Service.Service.Service">
        <endpoint address="basic" binding="customBinding" bindingConfiguration="basicHttpBinaryBinding"
            name="BasicHttpEndpoint" contract="Aufgabe2._3_Service.Interfaces.IService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/HttpSerializeService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>