<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EchoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dhechoservice.cloudapp.net/EchoService.svc"
                binding="basicHttpBinding" bindingConfiguration="EchoService"
                contract="EchoService.IEchoService" name="EchoService" />
        </client>
    </system.serviceModel>
</configuration>