<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="DefaultNetMsmqBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <service name="ConsoleDatagrammsCalculatorService.CalculatorService">
                <endpoint address="net.msmq://localhost/private/Calculator" binding="netMsmqBinding"
                    bindingConfiguration="DefaultNetMsmqBinding" name="NetMsmqEndpoint"
                    contract="ConsoleDatagrammsContracts.Interfaces.ICalculator" />
            </service>
        </services>
    </system.serviceModel>
</configuration>