<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpDefaultConfiguration">
          <security mode="TransportCredentialOnly">
            <!-- Achtung Job-Verlust wenn Basic gewählt -->
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DefaultServiceBehavior" name="CalculatorService.Services.Calculator">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpDefaultConfiguration"
            name="BasicHttpEndpoint" contract="CalculatorService.Interfaces.ICalculator" />
        <endpoint address="net.tcp://localhost:8081/Calculator" binding="netTcpBinding"
            bindingConfiguration="" name="netTcpEndpoint" contract="CalculatorService.Interfaces.ICalculator">
          <identity>
            <userPrincipalName value="Maaiins@NLA-DESKTOP" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Calculator" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>