<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpoint" />
                <binding name="BasicHttpEndpoint1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HttpService/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndpoint" contract="HttpServiceReference.IService"
                name="BasicHttpEndpoint" />
            <endpoint address="http://localhost:8080/HttpAuthService/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint1"
                contract="HttpAuthServiceReference.IService" name="BasicHttpEndpoint1" />
        </client>
    </system.serviceModel>
</configuration>