<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviorConfiguration">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Aufgabe3_Service.Service.Service" behaviorConfiguration="ServiceBehaviorConfiguration">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
            name="BasicHttpEndpoint" contract="Aufgabe3_Service.Interfaces.IService" >
          <identity>
            <userPrincipalName value="Sample@NLA-MAC"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/HttpIdentityService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
