<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpDefaultConfiguration" maxBufferSize="100000000"
          maxReceivedMessageSize="100000000">
          <readerQuotas maxStringContentLength="1000000000" maxArrayLength="1000000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DefaultServiceBehavior" name="Aufgabe2._2_Service.Service.Service">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpDefaultConfiguration"
          name="BasicHttpEndpoint" contract="Aufgabe2._2_Service.Interfaces.IService" />
        <endpoint address="net.tcp://localhost:8086/TcpService" binding="netTcpBinding"
          bindingConfiguration="" name="netTcpEndpoint" contract="Aufgabe2._2_Service.Interfaces.IService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/TcpService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>