<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="DefaultNetMsmqBinding">
          <!--<BindingName> (beliebig)-->
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="MsmqService.Service">
        <!--<Projektname>.<Klassenname>-->
        <endpoint address="net.msmq://localhost/private/service" binding="netMsmqBinding"
            bindingConfiguration="DefaultNetMsmqBinding" name="NetMsmqEndpoint"
            contract="MsmqContracts.Interfaces.IService" />
        <!-- Projekt umbenannt, dann "contract=" ändern-->
        <!--adress: net.msmq://localhost/private/<Servicename> (private da PRIVATE MSMQ Warteschlange
                                bindingConfiguration: <BindingName> siehe oben
                                name: <EndpointName> (beliebig)
                                contract: <Projektname>.<Ordername>.<Klassenname>-->
      </service>
    </services>
  </system.serviceModel>
</configuration>