<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BasicHttpEndpoint">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HttpSerializeService/basic"
                binding="customBinding" bindingConfiguration="BasicHttpEndpoint"
                contract="HttpSerializerService.IService" name="BasicHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>